{
  "database.name": "hs",
  "database.host": "localhost",
  "database.username": "hs",
  "database.password": "jklasdffdhsjknvmx",
  "database.type": "mysql",
  "hostname": "localhost",
  "basepath": "/hs",
  "logfile": "/var/log/apache2/hs/log"
}
